.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70rem;
  font-size: 1.5rem;
}

.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  background: red;
  background: url("../Pictures/loginbg.jpg") no-repeat center / cover;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

#chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

label {
  color: #fff;
  font-size: 2.3em;
  display: flex;
  margin: 60px;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.regInput {
  width: 70%;
  height: 20px;
  background: #e0dede;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

.loginBtn {
  width: 70%;
  height: 40px;
  margin: 10px auto;
  display: block;
  justify-content: center;
  color: #fff;
  background: #574b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.loginBtn:hover {
  background: #6d44b8;
}
.login {
  height: 460px;
  background: #eee;
  border-radius: 60% /10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.login label {
  color: #5738ba;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}

#chk:checked ~ .login label {
  transform: scale(1);
}

#chk:checked ~ .signup label {
  transform: scale(0.6);
}
