* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}
body {
  width: 100%;
  background: #8a8a8a;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}
